

/* BROWSER RESET + FONT */
	html, body {
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	}

/* FONT-SIZE SETUP */
h1, h2, h3, h4, h5, h6, section {
	font-size: 16px;
}

/* OVERALL WRAPPER */
	#content-wrapper {
		margin: 0 2%;
	}

/* TITLE */
	#main-header {
		font-size: 1.75em;

		text-align: center;
		margin: 40px 0 30px 0;
	}

/* MAIN CONTENT BOXES */
	.box-1, .box-2, .box-3 {
		padding: 50px 15px 20px 15px;
		margin: 0px 1% 20px;
		width: 31.33%;
		height: auto;
		float:left;
		background-color: #ecf0f1;

		border:solid;
		border-width: 1px;
		border-color:#000000;
		border-radius:2px;

		position:relative;
		box-sizing: border-box;
	}

/* TITLE BOXES */
	.box-title {
		font-size: 1.25em;

		border:solid;
		border-width: 1px;
		border-color:#000000;
		border-radius: 2px;
		padding: 3px 15px;

		position:absolute;
		right: -1px;
		top: -18px;
		box-sizing:border-box;
	}
	.red {
		background-color:#e74c3c;
	}
	.yellow {
		background-color:#f39c12;
	}
	.blue {
		background-color:#3498db;
	}


/* DESKTOP */
	@media (min-width: 992px) {
		.box-1, .box-2, .box-3 {
		width: 31.33%;
		}
	}
/* TABLET */
	@media (min-width: 768px) and (max-width: 991px) {
		.box-1, .box-2 {
			width: 48%;
		}

		.box-3 {
			width: 98%;
		}
	}
/* MOBILE */
	@media (max-width: 767px) {
		.box-1, .box-2, .box-3 {
			width: 98%;
		}

		.box-3 {
			margin: 0 0 50px 0;
		}
	}